<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1aac26dbd0.js" crossorigin="anonymous"></script>
    <title>TA</title>
</head>
<body>
    <header>
        <!--logo , title -->
        <img src="https://img.icons8.com/external-itim2101-lineal-itim2101/64/FFFFFF/external-airplane-travel-itim2101-lineal-itim2101-1.png" alt="not" class="logo">
        <h1>Travel App</h1>
    </header>
    <main>
        <div id="main" class="addTrip">
            <h2>Plan Your Trip</h2>
            <button class="addButton">Add Trip</button>
        </div>
        <div class="plan-your-trip" id="planner">
            <form action="" id="form">
                <i class="fa fa-arrow-left goBack" title="Go back to add trip"></i>
                <input type="text" placeholder="From" name="from" id="fromInput"  required> 
                <input type="text" placeholder="To" name="to" id="toInput"  required> 
                <input type="date" name="date" id="dateInput"  required>
                <input type="submit" name="submit" value="Submit" id="submitTrip">
                
            </form>
        </div>
        <div class="trip-info" id="result">
            <div>
                <img src="" alt="" class="cityimage" id="pixabayImage">
            </div>
            <div class="info">
               
                <h3 class="departure_from_city"> <i class="fa fa-plane-departure infoIcon"></i>Departure from: <span id="departure"></span></h3>
                <h3 class="departure_from_city"> <i class="fa fa-plane-arrival infoIcon"></i>Destination to: <span id="destination"></span></h3>
                <h3 class="departure_from_city"> <i class="fa fa-calendar-day infoIcon"></i>Days to go: <span id="numberOfDays"></span></h3>
                <h3 class="departure_from_city"> <i class="fa fa-calendar infoIcon"></i>Departing on: <span id="date"></span></h3>
                <h3 class="departure_from_city"> <i class="fa fa-cloud infoIcon"></i>weather: <span id="temp">200C</span> &#176; F,  <span
                    id="summary"></span></h3>
                
            </div>
            <div class="btn">
            <button id="print">Print</button>
            <button id="delete">Delete</button>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="social-m">
            <i class="fa fa-github"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-facebook-f"></i>
        </div>
        <p>Travel App &copy; Done by <span>Norahsa</span></p>
        
    </footer>
    <script>
              if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
    </script>
</body>
</html>